<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALl users</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
    </tr>
    <tr th:each="person : ${people}">
        <td th:text="${person.getNumber()}">Value</td>
        <td th:text="${person.getName()}">Value</td>
    </tr>
</table>
<br/>
<hr/>

<a href="/people/new">Create new Person</a>

</body>
</html>